.fixBg {
    @include nor{
        position: fixed;
        top: 0;
        left: 0;
        // border: 1px solid yellow;
        background-image: url("/img/gameMall/headerPCBg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1920px;
        width: 100vw;
        height: 100vh;
    }
}
.header {
    width: 100%;
    // border: 1px solid red;
    padding-top: 169px;
    display: flex;
    @include m3d{
        padding-top: 68px;
    }

    .mySwiper {
        // width: 100%;
        // background-color: #fff;
        
        .swiperBox{
            // border: 1px solid green;
            // max-width: 616px;
            // max-height: 363px;
            // width: 100%;
            // height: 100%;
        }
    }
}
