header {
	width: 100%;
	height: 987px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('/img/prereg/headerBg.jpg');
	//相對於網站根目錄指向public，無論scss在哪裡都是指向這個url


	@include md() {
		background-image: url('/img/prereg/01/headerBgM.jpg');
	}

	@include sm() {
		background-image: url('/img/prereg/01/headerBgS.jpg');
	}


	.content {
		padding-top: 500px;
	}

	.title {
		width: 100%;
		max-width: 939px;
		height: 212px;
		@extend %bg-contain;
		background-image: url('/img/prereg/headerTitleNew.png');
		display: block;
		margin: 0 auto;
		z-index: 1;

		@include md() {
			max-width: 700px;
			height: 245px;
			background-image: url('/img/prereg/headerTitleMNew.png');
		}
	}

	.typeBtn {
		@extend %f-r-c;

		a {
			display: flex;
			background-size: contain;
			background-repeat: no-repeat;
			width: 227px;
			height: 66px;
			margin: 0px 20px;
			margin-top: 25px;
			position: relative;

			span {
				float: left;
				position: absolute;
				top: 0;
				left: 0;
				margin-left: 0.02rem;
				margin-top: 0.02rem;
				border-radius: 10px;
				display: inline;
				overflow: hidden;
				width: 100%;
				padding-bottom: 29%;

				.effect {
					content: "";
					position: absolute;
					top: 0;
					left: -100%;
					z-index: 2;
					width: 100%;
					height: 100%;
					background: linear-gradient(120deg, transparent, transparent, rgba(255, 255, 255, 0.4), transparent, transparent);
					transition: all 650ms;
					animation: bling 2s linear infinite;
				}
			}
		}

		@keyframes bling {
			0% {
				left: -100%;
			}

			100% {
				left: 100%;
			}
		}


		.google {
			background-image: url('/img/prereg/Google.png');
		}

		.appStore {
			background-image: url('/img/prereg/Ios.png');
		}
	}

	.arrow {
		@include size(69px, 91px);
		@extend %bg-contain;
		margin: 0 auto;
		margin-top: 20px;
		background-image: url('/img/prereg/scroll.png');
		animation: fade-in-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite reverse both;
	}




}
