.sec04 {

	@extend %f-c-c;
	padding-top: 155px;

	@include xl {
		padding-top: 0;
	}

	@include md {
		padding-top: 155px;
	}

	// @include sm {
	// 	padding-top: 155px;

	// }

	.sub04 {
		max-width: 602px;
		@include size(100%, 179px);
		@extend %bg-contain;
		background-size: 100%;
		margin: 0px 10px;
		background-image: url('/img/prereg/s4Title.png');
		z-index: 2;
		position: relative;

		#s4 {
			position: absolute;
			top: 0px;
			left: 0px;
		}

		@include sm() {}
	}

	.sec04Wrap {
		overflow: hidden;
		@extend %f-c-c;
		margin-top: 3px;
		width: 50%;

		@include xl() {
			width: 100%;
		}

		@include sm() {
			margin-top: 2%;
		}

		.swiper {
			margin: 0 auto;
			max-width: 1200px;
			width: 100%;

			.swiper-slide {
				text-align: center;

				.item {
					width: 100%;
					padding-bottom: 50px;

					img {
						width: 90%;

						@include xxl {
							width: 80%;
						}
					}
				}
			}

			.swiper-pagination {
				margin: 0 auto;
				position: absolute;
				bottom: 0px;
				left: 50% !important;
				transform: translate(-50%, -50%);
				@extend %f-r-c;
				z-index: 10;
			}


			.swiper-pagination-bullet {
				@include size(14px, 15px);
				@extend %bg-contain;
				background-color: transparent;
				opacity: 1;
				background-image: url("/img/prereg/carousel.png");
				transition: all 0.5s ease-in-out;
				margin: 0 10px !important;
			}

			.swiper-pagination-bullet-active {
				@include size(24px, 25px);
				@extend %bg-contain;
				background-color: transparent;
				background-image: url("/img/prereg/carouselHover.png");
				margin: 0 10px !important;
			}


			.swiper-button-prev {
				max-width: 50px;
				@include size(100%, 108px);
				background-image: url("/img/prereg/carouselArrow.png");
				@extend %bg-contain;
				transform: translate(-20px, -40px);

				&::after {
					content: "";
				}

				@include md() {
					display: none;
				}
			}

			.swiper-button-next {
				max-width: 50px;
				@include size(100%, 108px);

				background-image: url("/img/prereg/carouselArrow.png");
				@extend %bg-contain;
				transform: scaleX(-1) translate(-20px, -40px);

				&::after {
					content: "";
				}

				@include md() {
					display: none;
				}
			}
		}
	}
}
