.sec01 {
	@extend %f-c-c;

	@include md() {
		padding: 5% 0;
	}

	.sub01 {
		max-width: 581px;
		@include size(100%, 183px);
		@extend %bg-contain;
		background-size: 100%;
		margin: 0px 10px;
		background-image: url('/img/prereg/s1Title.png');


	}

	.stepWrap {
		width: 65%;
		margin: 0 auto;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		@extend %f-r-c;

		@include md {
			flex-direction: column;
		}


		@include x3l() {
			width: 90%;
		}

		@include xl() {
			width: 100%;
		}



		.left {
			width: 45%;
			height: 620px;
			@extend %bg-cover;
			background-image: url('/img/prereg/01/s1boxBg.png');
			border: 1px solid snow;
			position: relative;

			@include md() {
				height: auto;
				width: 95%;
			}

			.decoTop {
				width: 95%;
				height: 95%;
				margin: 0 auto;
				@include ab-lt(2.5%, 2%);
				z-index: 2;

				&::before {
					content: '';
					@include size(37px, 36px);
					@include ab-lt(5px, 5px);
					@extend %bg-contain;
					background-image: url('/img/prereg/01/s1boxDecoIn.png');
				}

				&::after {
					content: '';
					@include size(37px, 36px);
					@include ab-rt(5px, 5px);
					@extend %bg-contain;
					background-image: url('/img/prereg/01/s1boxDecoIn.png');
					transform: scaleX(-1);
				}
			}

			.decoDown {
				width: 95%;
				height: 95%;
				margin: 0 auto;
				@include ab-lt(2.5%, 2%);
				z-index: 2;
				border: 1px solid #2e0c05;

				&::before {
					content: '';
					@include size(37px, 36px);
					@include ab-lb(5px, 5px);
					@extend %bg-contain;
					background-image: url('/img/prereg/01/s1boxDecoIn.png');
					transform: rotate(270deg);
				}

				&::after {
					content: '';
					@include size(37px, 36px);
					@include ab-rb(5px, 5px);
					@extend %bg-contain;
					background-image: url('/img/prereg/01/s1boxDecoIn.png');
					transform: scaleX(-1) rotate(270deg);
				}
			}

			.stepTitleBox {
				padding-top: 2%;
				height: 80px;
				@extend %f-r-c;
				@extend %bg-cover;
				background-image: url('/img/prereg/01/s1titlebBg.png');

				.step {
					@extend %bg-contain;
					@include size(100%, 28px);
					max-width: 97px;
					background-image: url('/img/prereg/01/step1.png');
					margin-right: 2%;
				}

				p {
					font-size: 1.5em;
					color: snow;
					font-weight: bold;
				}


			}

			.stepBoxWrap {
				width: 95%;
				margin: 0 auto;
				padding-top: 2%;
				@extend %f-c-c;
				z-index: 3;

				@include md() {
					padding-top: 2%;
					padding-bottom: 5%;
				}

				form {
					@extend %f-c-c;

					.phoneBox {
						@extend %f-r-c;

						input,
						select {
							font-size: 1.2em;
							color: #fff;
							background-color: #000;
							padding: 10px;
						}

						input {
							width: 60%;
						}

						select {
							width: 40%;
							// font-size: 1.3em;
							margin-right: 5px;
						}


					}

					.submitBtn {
						max-width: 278px;
						@include size(60%, 78px);
						@extend %bg-contain;
						background-color: transparent;
						border: none;
						cursor: pointer;
						background-image: url('/img/prereg/s1ButConfirm.png');
						-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
						animation: heartbeat 1.5s ease-in-out infinite both;
						transition: all ease-in-out .5s;

						&.active {
							cursor: default;
							animation: none;
							background-image: url('/img/prereg/s1ButConfirmD.png');
						}

						&:hover {
							filter: brightness(1.7);
						}

						@include xs() {
							font-size: 1.5em;
						}

						@include x3s() {
							height: 65px;
						}

						@include xs() {
							height: 48px;
						}
					}
				}

				.checkBox {
					margin: 10px 0;
					@extend %f-r-c;
					font-weight: bold;

					input {
						width: 1.3em;
						height: 1.3em;
						border-radius: 15px;
					}

					label {
						font-size: 1.2em;




						a {
							color: #991d1d;
							text-decoration: underline;
						}
					}

				}




				.awardBox {
					width: 96%;
					margin: 20px 0;
					@extend %f-r-c;

					@include md {
						width: 66%;
					}


					img {
						width: 40%;
						margin: 0 15px;

						@include x3s() {
							width: 45%;
							margin: 0;
						}
					}
				}

				.s1Notice {
					background-color: transparent;
					cursor: pointer;
					border: none;
					@include size(100%, 55px);
					max-width: 159px;
					background-image: url('/img/prereg/s1Notice.png');
					transition: all ease-in-out .5s;
					@extend %bg-contain;

					&:hover {
						filter: brightness(1.7);
					}
				}

			}
		}

		.right {
			width: 45%;
			margin-left: 3%;
			height: 620px;
			position: relative;
			@extend %f-c-c;


			@include md() {
				height: auto;
				margin-left: 0%;
				width: 95%;
			}

			.decoTop {
				width: 95%;
				height: 95%;
				margin: 0 auto;
				@include ab-lt(2.5%, 3%);
				z-index: 2;

				&::before {
					content: '';
					@include size(37px, 36px);
					@include ab-lt(5px, 5px);
					@extend %bg-contain;
					background-image: url('/img/prereg/01/s1boxDecoIn.png');
				}

				&::after {
					content: '';
					@include size(37px, 36px);
					@include ab-rt(5px, 5px);
					@extend %bg-contain;
					background-image: url('/img/prereg/01/s1boxDecoIn.png');
					transform: scaleX(-1);
				}
			}

			.decoDown {
				width: 95%;
				height: 95%;
				margin: 0 auto;
				@include ab-lt(2.5%, 3%);
				z-index: 2;
				border: 1px solid #2e0c05;

				&::before {
					content: '';
					@include size(37px, 36px);
					@include ab-lb(5px, 5px);
					@extend %bg-contain;
					background-image: url('/img/prereg/01/s1boxDecoIn.png');
					transform: rotate(270deg);
				}

				&::after {
					content: '';
					@include size(37px, 36px);
					@include ab-rb(5px, 5px);
					@extend %bg-contain;
					background-image: url('/img/prereg/01/s1boxDecoIn.png');
					transform: scaleX(-1) rotate(270deg);
				}
			}




			// @include md() {
			// 	width: 100%;
			// 	// padding-bottom: 117%;
			// }


			.stepBoxS {
				display: flex;
				flex-direction: column;
				align-items: center;
				@include size(100%, 100%);
				margin: 5px 0px 5px 0px;
				background-image: url('/img/prereg/01/s1boxBg.png');
			}

			.stepBox2 {
				.stepTitleBox {
					width: 100%;
					padding-top: 2%;
					height: 80px;
					@extend %f-r-c;
					@extend %bg-cover;
					background-image: url('/img/prereg/01/s1titlebBg.png');

					.step {
						@extend %bg-contain;
						@include size(100%, 28px);
						max-width: 97px;
						background-image: url('/img/prereg/01/step2.png');
						margin-right: 2%;
					}

					p {
						font-size: 1.5em;
						color: snow;
						font-weight: bold;
					}


				}

				@include md() {
					margin: 2% 0;
				}

				.stepBoxWrap {
					@extend %f-r-c;
					width: 95%;
					padding-top: 12px;
					z-index: 3;

					@include md() {
						width: 95%;
						// flex-direction: column;
						padding: 30px 0;
					}

					@include sm {
						width: 89%;
					}

					.awardBox {
						width: 50%;

						img {
							width: 100%;
						}

						@include md() {
							width: 45%;
							margin: 0 auto;
						}


						@include sm() {
							width: 49%;
						}



					}

					.typeBox {
						width: 45%;
						@extend %f-c-c;

						@include md {
							width: 45%;
						}

						@include sm {
							width: 46%;
						}

						a {
							display: flex;
							max-width: 227px;
							@extend %bg-contain;
							@include size(100%, 66px);
							margin: 10px 0;

							span {
								float: left;
								position: absolute;
								top: 0;
								left: 0;
								margin-left: 0.02rem;
								margin-top: 0.02rem;
								border-radius: 10px;
								display: inline;
								overflow: hidden;
								width: 100%;
								padding-bottom: 29%;

								.effect {
									content: "";
									position: absolute;
									top: 0;
									left: -100%;
									z-index: 2;
									width: 100%;
									height: 100%;
									background: linear-gradient(120deg, transparent, transparent, rgba(255, 255, 255, 0.4), transparent, transparent);
									transition: all 650ms;
									animation: bling 2s linear infinite;
								}
							}
						}

						@keyframes bling {
							0% {
								left: -100%;
							}

							100% {
								left: 100%;
							}
						}

					}

					.google {
						background-image: url('/img/prereg/Google.png');
					}

					.appStore {
						background-image: url('/img/prereg/Ios.png');
					}
				}
			}



			.stepBox3 {

				.stepTitleBox {
					width: 100%;
					padding-top: 2%;
					height: 80px;
					@extend %f-r-c;
					@extend %bg-cover;
					background-image: url('/img/prereg/01/s1titlebBg.png');

					.step {
						@extend %bg-contain;
						@include size(100%, 28px);
						max-width: 97px;
						background-image: url('/img/prereg/01/step3.png');
						margin-right: 2%;
					}

					p {
						font-size: 1.5em;
						color: snow;
						font-weight: bold;
					}



				}

				.stepBoxWrap {
					@extend %f-r-c;
					width: 95%;
					padding-top: 12px;
					z-index: 3;
					height: 195px;
					position: relative;


					@include md() {
						height: auto;
						padding: 30px 0;
					}

					@include sm {
						justify-content: space-evenly;
					}

					.awardBox {
						width: 29%;
						object-fit: contain;

						img {
							width: 100%;
						}

						@include md() {
							width: 27%;
							margin-bottom: 3%;

						}
					}

					.typeBox {
						width: 55%;
						@extend %f-c-c;
						display: flow-root;
						overflow: hidden;

						@include md {
							width: 45%;
						}

						.fb-page {}



					}






				}



			}


		}
	}

}
