.sec01 {
	border: 1px solid red;
	@extend %f-c-c;

	.sub01 {
		max-width: 581px;
		@include size(100%, 183px);
		@extend %bg-contain;
		background-size: 100%;
		margin: 0px 10px;
		background-image: url('/img/prereg/s1Title.png');
	}

	.stepWrap {
		width: 60%;
		margin: 0 auto;
		border: 1px solid red;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;

		@include x3l() {
			width: 80%;
		}

		@include xl() {
			width: 100%;
		}

		.left {
			margin: 0 auto;
			display: block;
			width: 50%;
			height: auto;
			padding-bottom: 57%;
			background-size: contain;
			background-image: url('/img/prereg/step1Box.png');
			background-repeat: no-repeat;
			position: relative;

			@include md() {
				width: 100%;
				padding-bottom: 117%;
			}

			.stepBoxWrap {
				@extend %f-c-c;
				width: 92%;
				position: absolute;
				top: 15%;
				left: 3%;
				padding: 15px 0;
				border: 2px solid red;

				@include md() {
					top: 19%;
				}

				@include x3s() {
					top: 15%;
				}

				.checkBox {
					margin: 10px 0;
					@extend %f-r-c;
					font-weight: bold;

					@include md() {
						margin-top: 5%;
					}

					input {
						width: 1.2em;
						height: 1.2em;
						border-radius: 15px;

						@include md() {
							font-size: 1.7em;

						}

						@include sm() {
							font-size: 1.2em;
						}
					}

					label {
						font-size: 1.2em;

						@include md() {
							font-size: 1.7em;

						}

						@include sm() {
							font-size: 1.2em;
						}

						a {
							color: #991d1d;
							text-decoration: underline;
						}
					}
				}

				form {
					@extend %f-c-c;

					.phoneBox {
						@extend %f-r-c;

						input,
						select {
							font-size: 1.2em;
							color: #fff;
							background-color: #000;
							padding: 10px;
						}

						@include md() {
							font-size: 1.7em;
						}

						@include sm() {
							font-size: 1.2em;
						}

						@include x3s() {
							font-size: .8em;
						}

						input {
							width: 60%;
						}

						select {
							width: 40%;
							// font-size: 1.3em;
							margin-right: 5px;
						}


					}

					.submitBtn {
						max-width: 278px;
						@include size(60%, 78px);
						@extend %bg-contain;
						background-color: transparent;
						border: none;
						cursor: pointer;
						background-image: url('/img/prereg/s1ButConfirm.png');
						-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
						animation: heartbeat 1.5s ease-in-out infinite both;
						transition: all ease-in-out .5s;

						&:hover {
							filter: brightness(1.7);
						}

						@include x3s() {
							height: 65px;
						}
					}
				}

			}

			.awardBox {
				width: 96%;
				margin: 20px 0;
				@extend %f-r-c;

				@include x3s() {
					width: 75%;
					margin: 15px 0;
				}

				img {
					width: 40%;
					margin: 0 15px;
				}
			}

			.s1Notice {
				background-color: transparent;
				cursor: pointer;
				border: none;
				@include size(100%, 55px);
				max-width: 159px;
				background-image: url('/img/prereg/s1Notice.png');
				transition: all ease-in-out .5s;
				@extend %bg-contain;

				@include md() {
					max-width: 200px;
				}

				@include x3s() {
					height: 45px;
				}

				&:hover {
					filter: brightness(1.7);
				}
			}

		}

		.right {
			margin: 0 auto;
			display: block;
			width: 50%;
			height: auto;
			padding-bottom: 0%;
			background-size: contain;
			background-repeat: no-repeat;
			position: relative;

			@include md() {
				width: 100%;
				// padding-bottom: 117%;
			}


			.stepBoxS {
				margin: 0 auto;
				display: block;
				height: auto;
				padding-bottom: 57%;
				background-size: contain;

				background-repeat: no-repeat;
			}


			.stepBox2 {
				background-image: url('/img/prereg/step2Box.png');

				.stepBoxWrap {
					@extend %f-r-c;
					width: 88%;
					position: absolute;
					top: 29%;
					left: 6%;
					padding: 0px 0;

					@include x3s() {
						justify-content: space-around;
					}

					.awardBox {
						width: 100%;

						@include md() {
							width: 36%;
						}

						img {
							width: 100%;
						}
					}

					.typeBtn {
						width: 100%;
						@extend %f-c-c;

						@include md() {
							width: 50%;
						}

						a {
							display: flex;
							max-width: 227px;
							@extend %bg-contain;
							@include size(100%, 66px);
							margin: 10px;

							@include x3s() {
								margin: 0 10px;
							}
						}

						.google {
							background-image: url('/img/prereg/Google.png');
						}

						.appStore {
							background-image: url('/img/prereg/Ios.png');
						}
					}
				}

			}

			.stepBox3 {
				background-image: url('/img/prereg/step3Box.png');

				.stepBoxWrap {
					@extend %f-r-c;
					width: 88%;
					position: absolute;
					top: 29%;
					left: 6%;
					padding: 0px 0;

					.awardBox {
						width: 30%;

						@include md() {
							width: 36%;
						}

						img {
							width: 100%;
						}
					}

					.typeBtn {

						@include md() {
							width: 50%;
						}

						@extend %f-c-c;
						padding: 0 11px;
					}
				}

			}


		}


	}

}
