.sec02 {
    z-index: 1;
    background-color: black;
    max-width: 1920px;
    height: 985px;
    // max-height: 985px;
    width: 100%;
    // height:100%;
    
    @include xl{
        height: 730px;
    }
    @include lg{
        height: 700px;
    }
    @include m3d {
        max-width: 900px;
        width: 100%;
        height: 1417px;
    }
    @include mmd{
        height: 1170px;
    }
    @include sm{
        height: 1008px;
    }
    @include x3s{
        height: 755px;
    }
    @include xxs{
        height: 667px
    }
    @include xs{
        height: 567px;
    }

    .sec02Bg {
        // border: 1px solid red;
        background-image: url("/img/20240403_joinAct/sec02BgPC2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m3d {
            background-image: url("/img/20240403_joinAct/sec02BgM2.png");
            // background-position: 0 50px;
            background-position: top;
        }

        p {
            font-family: "Noto Serif TC";
            font-size: 2.5rem;
            font-weight: 800;
            background: linear-gradient(to bottom, rgb(255, 255, 255) 40%, #484848);
            background: -webkit-linear-gradient(to bottom, #fff 50%, #484848);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }

    .sec02Title {
        // border: 1px solid rgb(255, 169, 169);
        width: 100%;
        height: 100%;
        max-width: 830px;
        max-height: 156px;
        background-image: url("/img/20240403_joinAct/sec02Title.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 3%;
        filter: drop-shadow( 0px 0px 4px #000  );
        @include mmd {
            height: 10%;
            background-size: cover;
            background-position: center;
        }
        @include sm{
            height: 13%;
        }
        @include x3s{
            height: 16%;
        }
        @include xxs{
            height: 17%;
        }
        @include xs{
            height: 17%;
        }
    }
    .sec02Text {
        // border: 1px solid rgb(255, 169, 169);
        text-align: center;
        margin-top: 15%;
        img {
            width: 100%;
            height: 100%;
            // border: 1px solid rgb(255, 255, 255);
        }
    }
}
