@import "../../base/reset";
@import "../../base/rwd";
@import "../../base/placeholder";

html{
    background-color: black;
    font-size: 16px;
    line-height: 16px;
    @include xl(){
        font-size: 14px;
        line-height: 14px;
    }
    @include md(){
        font-size: 11px;
        line-height: 11px;
    }
}
body {
    background-color: rgba(38, 38, 38, 0.8);
    font-family: 'Noto Sans TC';
    .wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 1920px;
        max-height: 950px;
    }
}

@import "menu";
@import "header";
@import "sec01";
@import "sec02";
