@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #000;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 將連結初始化 */
a {
  text-decoration: none;
}

html {
  background-color: black;
  font-size: 16px;
  line-height: 16px;
}
@media all and (max-width: 1024px) {
  html {
    font-size: 14px;
    line-height: 14px;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 11px;
    line-height: 11px;
  }
}

body {
  font-family: "Noto Sans TC";
}
body .wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 950px;
}

.barPC {
  width: 100vw;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1% 0;
  display: flex;
  align-items: center;
}
.barPC .menu {
  width: 55%;
  padding: 0 8rem;
}
@media all and (max-width: 1440px) {
  .barPC .menu {
    width: 100%;
  }
}
.barPC .menu .menuList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.barPC .menu .menuList .menuListItem a {
  font-size: 1.8rem;
  color: #fff;
}
@media all and (max-width: 1775px) {
  .barPC .menu .menuList .menuListItem a {
    font-size: 1.5rem;
  }
}
.barPC .menu .menuList .menuListItem a:hover {
  color: #00b4ff;
  text-shadow: 0.1rem 0.1rem 1rem #000, 0.1rem 0.1rem 1rem #000, 0.1rem 0.1rem 1rem #000;
}
.barPC .menu .menuList .menuDeco:after {
  content: "|";
  color: rgba(255, 255, 255, 0.5098039216);
}

.barM {
  position: fixed;
  right: 8px;
  top: 8px;
  z-index: 3;
  border: 2px solid #c8e3ea;
  width: 50px;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barM .spanBox span {
  display: block;
  position: relative;
  width: 33px;
  height: 4px;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: #c8e3ea;
}
.barM .spanBox.active span:nth-child(1) {
  transform: rotate(45deg) translate(9px, 7.5px);
}
.barM .spanBox.active span:nth-child(2) {
  transform: rotate(-45deg) translate(-2px, 2px);
}
.barM .spanBox.active span:nth-child(3) {
  opacity: 0;
}

.menuM {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.menuM .menuListItem {
  text-align: center;
  height: 15%;
}
@media all and (max-width: 800px) {
  .menuM .menuListItem {
    height: 10%;
  }
}
.menuM .menuListItem a {
  font-size: 3.1rem;
  letter-spacing: 0.6rem;
  color: #fff;
  font-family: "Noto Serif TC";
  font-weight: 600;
}
.menuM .logo {
  position: absolute;
  top: 5%;
  width: 55%;
}
@media all and (max-width: 800px) {
  .menuM .logo {
    top: 15%;
  }
}
.menuM .logo img {
  width: 100%;
  height: 100%;
}

.fixBg {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/img/20240403_joinAct/sec01BgPC.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  width: 100%;
  height: 985px;
}
@media all and (max-width: 800px) {
  .fixBg {
    background-position: -304px 0px;
  }
}

.section {
  position: relative;
  width: 100%;
}
@media all and (max-width: 960px) {
  .section {
    height: 100vh;
  }
}

.header {
  background-image: url("/img/20240403_joinAct/headerPCBg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  max-width: 1920px;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1024px) {
  .header {
    background-position: -650px 0px;
  }
}
@media all and (max-width: 960px) {
  .header {
    background-position: -800px 0px;
  }
}
@media all and (max-width: 800px) {
  .header {
    max-width: 900px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-image: url("/img/20240403_joinAct/headerMBg.jpg");
  }
}
.header .bgBox {
  padding: 110px 30px 80px;
  border: 1px solid red;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 70%, rgb(0, 0, 0) 100%);
}
@media all and (max-width: 800px) {
  .header .bgBox {
    padding: 70% 0px 20%;
    height: 100%;
  }
}
.header .bgBox .leftBox {
  background-color: rgba(175, 138, 250, 0.2);
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox {
    width: 100%;
  }
}
.header .bgBox .leftBox .logoBox {
  border: 1px solid rgb(255, 165, 165);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox .logoBox {
    flex-direction: column;
  }
}
.header .bgBox .leftBox .logoBox a {
  width: 45%;
  max-width: 491px;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox .logoBox a {
    width: 70%;
  }
}
.header .bgBox .leftBox .logoBox .logo {
  width: 100%;
}
.header .bgBox .leftBox .logoBox .crossBox {
  width: 8%;
  text-align: center;
}
.header .bgBox .leftBox .logoBox .cross {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}
.header .bgBox .leftBox .subtitle {
  border: 1px red solid;
  width: 40%;
  height: 100%;
  margin-bottom: 25px;
}
.header .bgBox .leftBox .subtitle img {
  width: 100%;
  height: 100%;
  max-width: 384px;
  max-height: 86px;
}
.header .bgBox .leftBox .phone {
  border: 1px rgb(255, 255, 255) solid;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  text-align: center;
  background-image: url("/img/20240403_joinAct/phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 741px;
  max-height: 392px;
  padding: 40px 50px;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox .phone {
    display: none;
  }
}
.header .bgBox .leftBox .phone .videoBox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}
.header .bgBox .leftBox .phone .videoBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header .bgBox .leftBox .btnBoxPC {
  border: 1px rgb(255, 255, 255) solid;
  width: 63%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header .bgBox .leftBox .btnBoxPC img {
  width: 100%;
  height: 100%;
  max-width: 304px;
  max-height: 88px;
}

.sec01 {
  background-image: url("/img/20240403_joinAct/sec01BgPC.png");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  width: 100%;
  height: 985px;
  border: 1px solid rgb(169, 255, 182);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 800px) {
  .sec01 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
    height: 2000px;
  }
}
.sec01 .sec01Title {
  width: 100%;
  height: 100%;
  max-width: 830px;
  max-height: 156px;
  background-image: url("/img/20240403_joinAct/sec01Title.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgb(255, 169, 169);
}
.sec01 .sec01Text {
  font-size: 1.8rem;
  color: #fff;
  margin: 15px 0;
}
.sec01 .stepBox {
  position: relative;
  border: 1px solid rgb(169, 255, 179);
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 800px) {
  .sec01 .stepBox {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 50%;
  }
}
.sec01 .stepBox .stepBg {
  width: 32%;
  height: 100%;
  max-width: 486px;
  max-height: 297px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
@media all and (max-width: 800px) {
  .sec01 .stepBox .stepBg {
    width: 100%;
  }
}
.sec01 .stepBox .stepBg .stepTitle {
  font-family: "Noto Serif TC";
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(to bottom, #fff 50%, #484848);
  background: -webkit-linear-gradient(to bottom, #fff 50%, #484848);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 1.8rem;
}
.sec01 .stepBox .stepBg p {
  color: #fff;
  font-size: 1.5rem;
}
.sec01 .stepBox .stepBg .deco1 {
  width: 100%;
  max-width: 486px;
}
.sec01 .stepBox .stepBg .deco1::before, .sec01 .stepBox .stepBg .deco1::after {
  top: 0;
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("/img/20240403_joinAct/stepDeco.png");
  background-position: center center;
  background-size: cover;
}
.sec01 .stepBox .stepBg .deco1::before {
  right: 0;
}
.sec01 .stepBox .stepBg .deco1::after {
  left: 0;
  transform: scaleX(-1);
}
.sec01 .stepBox .stepBg .deco2 {
  position: absolute;
  width: 100%;
  max-width: 486px;
  bottom: 0.5rem;
}
.sec01 .stepBox .stepBg .deco2::before, .sec01 .stepBox .stepBg .deco2::after {
  bottom: 0;
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("/img/20240403_joinAct/stepDeco.png");
  background-position: center center;
  background-size: cover;
}
.sec01 .stepBox .stepBg .deco2::before {
  left: 0.5rem;
  transform: scaleY(-1) scaleX(-1);
}
.sec01 .stepBox .stepBg .deco2::after {
  right: 0.5rem;
  transform: scaleY(-1);
}
.sec01 .stepBox .stepBg .logBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec01 .stepBox .stepBg .logBox .login {
  margin: 1.3rem 0;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  width: 100%;
  height: 100%;
  max-width: 167px;
  max-height: 51px;
  background-image: url("/img/20240403_joinAct/loginBtnBg.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.56rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  cursor: pointer;
}
.sec01 .stepBox .stepBg .logBox a {
  margin: 0 0.3rem;
  color: #00b4ff;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.sec01 .stepBox .stepBg .storeBtnBox {
  margin: 1.3rem 0;
  border: 1px solid rgb(169, 255, 179);
  width: 47%;
  height: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec01 .stepBox .stepBg .storeBtnBox img {
  width: 100%;
}
.sec01 .stepBox .stepBg .fb {
  height: 29%;
  padding-bottom: 1%;
  text-align: center;
  margin: 1.3rem 0 0.6rem;
}
.sec01 .stepBox .stepBg .fb iframe {
  width: 100%;
  height: 100%;
}
.sec01 .stepBox .stepBg .checkBox label {
  color: #fff;
}
.sec01 .stepBox .stepBg .checkBox label span {
  font-size: 1.12rem;
  margin: 0 0.3rem;
  color: #00b4ff;
}
.sec01 .rewardBox {
  position: relative;
  width: 79%;
  height: 40%;
  display: flex;
  align-items: center;
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox {
    flex-direction: column;
  }
}
.sec01 .rewardBox .rewardPC {
  background-color: rgba(127, 255, 212, 0.422);
  display: flex;
  justify-content: center;
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox .rewardPC {
    flex-direction: column;
    align-items: center;
  }
}
.sec01 .rewardBox .rewardPC .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-right: 0.4rem;
}
.sec01 .rewardBox .rewardPC .left img {
  width: 100%;
  height: 100%;
  max-width: 361px;
  max-height: 145px;
}
.sec01 .rewardBox .rewardPC .left select {
  margin: 0rem 0 1.2rem;
  font-size: 1.25rem;
  width: 300px;
  height: 65px;
  color: #fff;
  border-radius: 0px;
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
  line-height: 1.25rem;
  margin: 1.9rem 0 0 0;
}
.sec01 .rewardBox .rewardPC .right {
  width: 38%;
}
.sec01 .rewardBox .rewardPC .right .iconBox {
  background-color: #000;
  width: 100%;
  height: 100%;
  max-width: 395px;
  max-height: 151px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0rem 0 1.2rem;
}
.sec01 .rewardBox .rewardPC .right .iconBox img {
  width: 100%;
  height: 100%;
  max-width: 135px;
  max-height: 135px;
}
.sec01 .rewardBox .rewardPC .right .iconBox p {
  max-width: 395px;
  font-family: "Noto Serif TC";
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}
.sec01 .rewardBox .rewardPC .right .rewardBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 288px;
  max-height: 65px;
  background-image: url("/img/20240403_joinAct/rewardBtn.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 700;
  font-size: 1.87rem;
  font-family: "Noto Serif TC";
  color: #fff;
}
.sec01 .rewardBox .rewardM {
  background-color: rgba(127, 255, 212, 0.422);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sec01 .rewardBox .rewardM .topBox {
  display: flex;
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox .rewardM .topBox {
    flex-direction: column;
    align-items: center;
  }
}
.sec01 .rewardBox .rewardM .topBox .iconBox {
  background-color: #000000;
  width: 100%;
  height: 100%;
  max-width: 395px;
  max-height: 151px;
  display: flex;
  align-items: center;
}
.sec01 .rewardBox .rewardM .topBox .iconBox img {
  width: 100%;
  height: 100%;
  max-width: 135px;
  max-height: 135px;
}
.sec01 .rewardBox .rewardM .topBox .iconBox p {
  max-width: 395px;
  font-family: "Noto Serif TC";
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}
.sec01 .rewardBox .rewardM .topBox img {
  width: 100%;
  height: 100%;
  max-width: 368px;
  max-height: 131px;
}
.sec01 .rewardBox .rewardM .rewardBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 627px;
  max-height: 65px;
  background-image: url("/img/20240403_joinAct/serialNumBtn.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 700;
  font-size: 1.87rem;
  font-family: "Noto Serif TC";
  color: #fff;
}

.sec02 {
  z-index: 1;
  background-image: url("/img/20240403_joinAct/sec02BgPC.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  width: 100%;
  height: 985px;
  border: 1px solid rgb(169, 252, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec02 .sec02Title {
  width: 100%;
  height: 100%;
  max-width: 830px;
  max-height: 156px;
  background-image: url("/img/20240403_joinAct/sec02Title.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgb(255, 169, 169);
}
.sec02 .sec02Text {
  border: 1px solid rgb(255, 169, 169);
  text-align: center;
  margin-top: 15%;
}
.sec02 .sec02Text img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
}
