@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #000;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 將連結初始化 */
a {
  text-decoration: none;
}

body {
  background-color: rgba(38, 38, 38, 0.8);
}
body .wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 950px;
}

.section {
  position: relative;
  width: 100%;
}
@media all and (max-width: 960px) {
  .section {
    height: 100vh;
  }
}

.header {
  background-image: url("/img/20240403_joinAct/headerPCBg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  max-width: 1920px;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1024px) {
  .header {
    background-position: -650px 0px;
  }
}
@media all and (max-width: 960px) {
  .header {
    background-position: -800px 0px;
  }
}
@media all and (max-width: 800px) {
  .header {
    max-width: 900px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-image: url("/img/20240403_joinAct/headerMBg.jpg");
  }
}
.header .bgBox {
  padding: 110px 30px 80px;
  border: 1px solid red;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 70%, rgb(0, 0, 0) 100%);
}
@media all and (max-width: 800px) {
  .header .bgBox {
    padding: 70% 0px 20%;
    height: 100%;
  }
}
.header .bgBox .leftBox {
  background-color: rgba(175, 138, 250, 0.2);
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox {
    width: 100%;
  }
}
.header .bgBox .leftBox .logoBox {
  border: 1px solid rgb(255, 165, 165);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox .logoBox {
    flex-direction: column;
  }
}
.header .bgBox .leftBox .logoBox a {
  width: 45%;
  max-width: 491px;
}
.header .bgBox .leftBox .logoBox .logo {
  width: 100%;
}
.header .bgBox .leftBox .logoBox .crossBox {
  width: 8%;
  text-align: center;
}
.header .bgBox .leftBox .logoBox .cross {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}
.header .bgBox .leftBox .subtitle {
  border: 1px red solid;
  width: 30%;
  height: 100%;
  margin-bottom: 25px;
}
.header .bgBox .leftBox .subtitle img {
  width: 100%;
  height: 100%;
  max-width: 384px;
  max-height: 86px;
}
.header .bgBox .leftBox .phone {
  border: 1px rgb(255, 255, 255) solid;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  text-align: center;
  background-image: url("/img/20240403_joinAct/phone.png");
  background-repeat: no-repeat;
  max-width: 741px;
  max-height: 392px;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox .phone {
    display: none;
  }
}
.header .bgBox .leftBox .phone .videoBox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.header .bgBox .leftBox .phone .videoBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header .bgBox .leftBox .btnBoxPC {
  border: 1px rgb(255, 255, 255) solid;
  width: 63%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header .bgBox .leftBox .btnBoxPC img {
  width: 100%;
  height: 100%;
  max-width: 304px;
  max-height: 88px;
}

.sec01 {
  background-image: url("/img/20240403_joinAct/sec01BgPC.png");
  background-repeat: no-repeat;
  background-position: right top;
  max-width: 1920px;
  width: 100%;
  height: 985px;
  border: 1px solid rgb(169, 255, 182);
}

.sec02 {
  background-image: url("/img/20240403_joinAct/sec02BgPC.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  max-width: 1920px;
  width: 100%;
  height: 985px;
  border: 1px solid rgb(169, 252, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec02 .box {
  width: 50%;
  height: 100%;
  border: 1px solid rgb(208, 255, 169);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec02 .sec02Title {
  width: 100%;
  height: 100%;
  max-width: 830px;
  max-height: 156px;
  background-image: url("/img/20240403_joinAct/sec02Title.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.sec02 .sec02Text {
  width: 100%;
  height: 100%;
  max-width: 458px;
  max-height: 124px;
  background-image: url("/img/20240403_joinAct/stayTuned.png");
  background-repeat: no-repeat;
  background-size: contain;
}
