@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #000;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 將連結初始化 */
a {
  text-decoration: none;
}

html {
  background-color: black;
  font-size: 16px;
  line-height: 16px;
}
@media all and (max-width: 1024px) {
  html {
    font-size: 14px;
    line-height: 14px;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 11px;
    line-height: 11px;
  }
}

body {
  background-color: black;
  font-family: "Noto Sans TC";
}
body .wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 950px;
}

.barPC {
  width: 100vw;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1% 0;
  display: flex;
  align-items: center;
}
.barPC .menu {
  width: 55%;
  padding: 0 8rem;
}
@media all and (max-width: 1440px) {
  .barPC .menu {
    width: 100%;
  }
}
.barPC .menu .menuList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.barPC .menu .menuList .menuListItem a {
  font-size: 1.8rem;
  color: #fff;
}
@media all and (max-width: 1775px) {
  .barPC .menu .menuList .menuListItem a {
    font-size: 1.5rem;
  }
}
.barPC .menu .menuList .menuListItem a:hover {
  color: #00b4ff;
  text-shadow: 0.1rem 0.1rem 1rem #000, 0.1rem 0.1rem 1rem #000, 0.1rem 0.1rem 1rem #000;
}
.barPC .menu .menuList .menuDeco {
  font-size: 1.56rem;
  margin: 1.25rem;
  color: rgba(255, 255, 255, 0.5098039216);
}

.barM {
  position: fixed;
  right: 8px;
  top: 8px;
  z-index: 3;
  border: 2px solid #c8e3ea;
  width: 50px;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barM .spanBox span {
  display: block;
  position: relative;
  width: 33px;
  height: 4px;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: #c8e3ea;
}
.barM .spanBox.active span:nth-child(1) {
  transform: rotate(45deg) translate(9px, 7.5px);
}
.barM .spanBox.active span:nth-child(2) {
  transform: rotate(-45deg) translate(-2px, 2px);
}
.barM .spanBox.active span:nth-child(3) {
  opacity: 0;
}

.menuM {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.menuM .menuListItem {
  text-align: center;
  height: 10%;
}
@media all and (max-width: 800px) {
  .menuM .menuListItem {
    height: 10%;
  }
}
.menuM .menuListItem a {
  font-size: 3.1rem;
  letter-spacing: 0.6rem;
  color: #fff;
  font-family: "Noto Serif TC";
  font-weight: 600;
}
.menuM .logo {
  position: absolute;
  top: 2%;
  width: 55%;
}
@media all and (max-width: 960px) {
  .menuM .logo {
    top: 5%;
  }
}
@media all and (max-width: 800px) {
  .menuM .logo {
    top: 12%;
  }
}
.menuM .logo img {
  width: 100%;
  height: 100%;
}

.test {
  color: antiquewhite;
}

.fixBg {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/img/20240403_joinAct/sec01BgPC.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  width: 100%;
  height: 985px;
}
@media all and (max-width: 800px) {
  .fixBg {
    background-position: -304px 0px;
  }
}

.section {
  position: relative;
  width: 100%;
}
@media all and (max-width: 960px) {
  .section {
    height: 100vh;
  }
}

.header {
  background-image: url("/img/20240403_joinAct/headerPCBg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  max-width: 1920px;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1024px) {
  .header {
    background-position: -650px 0px;
  }
}
@media all and (max-width: 960px) {
  .header {
    background-position: -800px 0px;
  }
}
@media all and (max-width: 800px) {
  .header {
    max-width: 900px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-image: url("/img/20240403_joinAct/headerMBg.jpg");
  }
}
.header .bgBox {
  padding: 90px 30px 80px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.5) 90%, rgb(0, 0, 0) 100%);
}
@media all and (max-width: 800px) {
  .header .bgBox {
    padding: 70% 0px 20%;
    height: 100%;
  }
}
.header .bgBox .leftBox {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox {
    width: 100%;
  }
}
.header .bgBox .leftBox .logoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox .logoBox {
    flex-direction: column;
  }
}
.header .bgBox .leftBox .logoBox a {
  width: 45%;
  max-width: 491px;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox .logoBox a {
    width: 70%;
  }
}
.header .bgBox .leftBox .logoBox .logo {
  width: 100%;
}
.header .bgBox .leftBox .logoBox .crossBox {
  width: 8%;
  text-align: center;
}
.header .bgBox .leftBox .logoBox .cross {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}
.header .bgBox .leftBox .subtitle {
  width: 40%;
  height: 100%;
  margin-bottom: 25px;
}
.header .bgBox .leftBox .subtitle img {
  width: 100%;
  height: 100%;
  max-width: 384px;
  max-height: 86px;
}
.header .bgBox .leftBox .phone {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  text-align: center;
  background-image: url("/img/20240403_joinAct/phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 741px;
  max-height: 392px;
  padding: 40px 50px;
}
@media all and (max-width: 800px) {
  .header .bgBox .leftBox .phone {
    display: none;
  }
}
.header .bgBox .leftBox .phone .videoBox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}
.header .bgBox .leftBox .phone .videoBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header .bgBox .leftBox .btnBoxPC,
.header .bgBox .leftBox .btnBoxM {
  width: 63%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header .bgBox .leftBox .btnBoxPC img,
.header .bgBox .leftBox .btnBoxM img {
  width: 100%;
  height: 100%;
  max-width: 304px;
  max-height: 88px;
}
.header .bgBox .leftBox .btnBoxM {
  justify-content: center;
}

.sec01 {
  background-image: url("/img/20240403_joinAct/sec01BgPC.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  width: 100%;
  height: 985px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 800px) {
  .sec01 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgb(0, 0, 0) 100%);
    height: 2100px;
  }
}
.sec01 .sec01Title {
  width: 100%;
  height: 100%;
  max-width: 830px;
  max-height: 156px;
  background-image: url("/img/20240403_joinAct/sec01Title.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media all and (max-width: 660px) {
  .sec01 .sec01Title {
    height: 6%;
    background-size: cover;
    background-position: center;
  }
}
.sec01 .sec01Text {
  font-size: 1.8rem;
  color: #fff;
  margin: 15px 0;
  text-align: center;
}
@media all and (max-width: 768px) {
  .sec01 .sec01Text {
    font-size: 2.2rem;
  }
}
.sec01 .stepBox {
  position: relative;
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 960px) {
  .sec01 .stepBox {
    width: 100%;
  }
}
@media all and (max-width: 800px) {
  .sec01 .stepBox {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 47%;
  }
}
.sec01 .stepBox .stepBg {
  width: 32%;
  height: 100%;
  max-width: 486px;
  max-height: 297px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .sec01 .stepBox .stepBg {
    width: 100%;
  }
}
.sec01 .stepBox .stepBg .stepTitle {
  font-family: "Noto Serif TC";
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(to bottom, #fff 50%, #484848);
  background: -webkit-linear-gradient(to bottom, #fff 50%, #484848);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 1.8rem;
}
@media all and (max-width: 768px) {
  .sec01 .stepBox .stepBg .stepTitle {
    margin-top: 1.3rem;
    font-size: 3.5rem;
  }
}
.sec01 .stepBox .stepBg .text,
.sec01 .stepBox .stepBg p {
  color: #fff;
  font-size: 1.5rem;
}
@media all and (max-width: 768px) {
  .sec01 .stepBox .stepBg .text,
  .sec01 .stepBox .stepBg p {
    font-size: 2rem;
  }
}
.sec01 .stepBox .stepBg .text {
  line-height: 1.8rem;
}
.sec01 .stepBox .stepBg .deco1 {
  width: 100%;
  max-width: 486px;
}
.sec01 .stepBox .stepBg .deco1::before, .sec01 .stepBox .stepBg .deco1::after {
  top: 0;
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("/img/20240403_joinAct/stepDeco.png");
  background-position: center center;
  background-size: cover;
}
.sec01 .stepBox .stepBg .deco1::before {
  right: 0;
}
.sec01 .stepBox .stepBg .deco1::after {
  left: 0;
  transform: scaleX(-1);
}
.sec01 .stepBox .stepBg .deco2 {
  position: absolute;
  width: 100%;
  max-width: 486px;
  bottom: 0.5rem;
}
.sec01 .stepBox .stepBg .deco2::before, .sec01 .stepBox .stepBg .deco2::after {
  bottom: 0;
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("/img/20240403_joinAct/stepDeco.png");
  background-position: center center;
  background-size: cover;
}
.sec01 .stepBox .stepBg .deco2::before {
  left: 0.5rem;
  transform: scaleY(-1) scaleX(-1);
}
.sec01 .stepBox .stepBg .deco2::after {
  right: 0.5rem;
  transform: scaleY(-1);
}
.sec01 .stepBox .stepBg .logBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec01 .stepBox .stepBg .logBox .account {
  font-size: 1.3rem;
  margin-top: 1.3rem;
  line-height: 1.6rem;
}
.sec01 .stepBox .stepBg .logBox .account span {
  color: #00b4ff;
}
@media all and (max-width: 768px) {
  .sec01 .stepBox .stepBg .logBox .account {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
.sec01 .stepBox .stepBg .logBox .logout,
.sec01 .stepBox .stepBg .logBox .login {
  margin: 1.3rem 0;
  background-image: url("/img/20240403_joinAct/loginBtnBg.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
}
.sec01 .stepBox .stepBg .logBox .logout {
  width: 50%;
  height: 50%;
  max-width: 88px;
  max-height: 27px;
  font-size: 1rem;
}
.sec01 .stepBox .stepBg .logBox .login {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  width: 100%;
  height: 100%;
  max-width: 167px;
  max-height: 51px;
  font-size: 1.56rem;
}
.sec01 .stepBox .stepBg .logBox a {
  margin: 0 0.3rem;
  color: #00b4ff;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.sec01 .stepBox .stepBg .storeBtnBox {
  margin: 1.3rem 0;
  width: 47%;
  height: 52%;
}
@media all and (max-width: 1440px) {
  .sec01 .stepBox .stepBg .storeBtnBox {
    width: 60%;
  }
}
@media all and (max-width: 960px) {
  .sec01 .stepBox .stepBg .storeBtnBox {
    width: 90%;
  }
}
@media all and (max-width: 800px) {
  .sec01 .stepBox .stepBg .storeBtnBox {
    width: 50%;
    height: 100%;
  }
}
@media all and (max-width: 320px) {
  .sec01 .stepBox .stepBg .storeBtnBox {
    width: 85%;
    height: 100%;
  }
}
.sec01 .stepBox .stepBg .storeBtnBox img {
  width: 100%;
  margin-bottom: 10px;
}
.sec01 .stepBox .stepBg .fb {
  height: 29%;
  padding-bottom: 1%;
  text-align: center;
  margin: 1.3rem 0 0.6rem;
}
.sec01 .stepBox .stepBg .fb iframe {
  width: 100%;
  height: 100%;
}
.sec01 .stepBox .stepBg .checkBox {
  text-align: left;
}
.sec01 .stepBox .stepBg .checkBox label {
  color: #fff;
  line-height: 1.3rem;
}
@media all and (max-width: 768px) {
  .sec01 .stepBox .stepBg .checkBox label {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
.sec01 .stepBox .stepBg .checkBox label span {
  font-size: 1.12rem;
  margin: 0 0.3rem;
  color: #00b4ff;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .sec01 .stepBox .stepBg .checkBox label span {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
.sec01 .rewardBox {
  position: relative;
  width: 79%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 960px) {
  .sec01 .rewardBox {
    flex-direction: column;
    height: 45%;
  }
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox {
    width: 100%;
    margin-bottom: 6rem;
  }
}
.sec01 .rewardBox .rewardPC {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58%;
  margin-right: 3%;
}
@media all and (max-width: 960px) {
  .sec01 .rewardBox .rewardPC {
    margin-right: 0;
    margin-top: 2rem;
  }
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox .rewardPC {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
    margin-bottom: 20px;
  }
}
.sec01 .rewardBox .rewardPC .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  margin-right: 0.4rem;
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox .rewardPC .left {
    width: 80%;
    margin-right: 0rem;
  }
}
.sec01 .rewardBox .rewardPC .left img {
  width: 100%;
  max-width: 357px;
  max-height: 151px;
  margin: auto 0;
}
.sec01 .rewardBox .rewardPC .left select {
  font-size: 1.25rem;
  max-width: 300px;
  max-height: 60px;
  width: 100%;
  height: 100%;
  color: #fff;
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
  line-height: 1.25rem;
  cursor: pointer;
}
.sec01 .rewardBox .rewardPC .left .serverCheck {
  font-size: 1.7rem;
  max-width: 300px;
  max-height: 60px;
  width: 100%;
  height: 100%;
  color: #fff;
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
  line-height: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec01 .rewardBox .rewardPC .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox .rewardPC .right {
    width: 80%;
    height: 87%;
    align-items: center;
    margin-top: 1rem;
  }
}
.sec01 .rewardBox .rewardPC .right .iconBox {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6) inset;
  width: 100%;
  height: 100%;
  max-width: 295px;
  max-height: 151px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0rem 0 0.8rem;
}
.sec01 .rewardBox .rewardPC .right .iconBox img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
  max-width: 135px;
  max-height: 135px;
  cursor: pointer;
}
.sec01 .rewardBox .rewardPC .right .iconBox p {
  width: 50%;
  max-width: 395px;
  font-family: "Noto Serif TC";
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
}
.sec01 .rewardBox .rewardPC .right .rewardBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  max-width: 288px;
  max-height: 65px;
  background-image: url("/img/20240403_joinAct/rewardBtn.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
.sec01 .rewardBox .rewardPC .right .rewardBtn p {
  padding: 0.9rem;
  top: 3px;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  font-family: "Noto Serif TC";
  color: #fff;
}
.sec01 .rewardBox .rewardM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 58%;
}
@media all and (max-width: 960px) {
  .sec01 .rewardBox .rewardM {
    margin-top: 2rem;
  }
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox .rewardM {
    margin-top: 0rem;
    width: 80%;
  }
}
.sec01 .rewardBox .rewardM .topBox {
  width: 100%;
  height: 72%;
  display: flex;
}
@media all and (max-width: 960px) {
  .sec01 .rewardBox .rewardM .topBox {
    height: 100%;
  }
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox .rewardM .topBox {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.sec01 .rewardBox .rewardM .topBox .iconBox {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6) inset;
  width: 50%;
  height: 100%;
  max-width: 295px;
  max-height: 152px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
@media all and (max-width: 960px) {
  .sec01 .rewardBox .rewardM .topBox .iconBox {
    width: 100%;
  }
}
.sec01 .rewardBox .rewardM .topBox .iconBox img {
  width: 50%;
  max-width: 135px;
  max-height: 135px;
  cursor: pointer;
}
.sec01 .rewardBox .rewardM .topBox .iconBox p {
  width: 50%;
  max-width: 395px;
  font-family: "Noto Serif TC";
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
}
.sec01 .rewardBox .rewardM .topBox img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
  max-width: 357px;
  max-height: 151px;
  margin: auto 0;
}
@media all and (max-width: 960px) {
  .sec01 .rewardBox .rewardM .topBox img {
    width: 50%;
  }
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox .rewardM .topBox img {
    width: 100%;
  }
}
.sec01 .rewardBox .rewardM .rewardBtn {
  width: 100%;
  height: 100%;
  max-width: 627px;
  max-height: 65px;
  background-image: url("/img/20240403_joinAct/serialNumBtn.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media all and (max-width: 800px) {
  .sec01 .rewardBox .rewardM .rewardBtn {
    max-width: 627px;
    max-height: 65px;
    background-image: url("/img/20240403_joinAct/serialNumBtn.png");
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }
}
@media all and (max-width: 768px) {
  .sec01 .rewardBox .rewardM .rewardBtn {
    max-width: 288px;
    max-height: 65px;
    background-image: url("/img/20240403_joinAct/rewardBtn.png");
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }
}
.sec01 .rewardBox .rewardM .rewardBtn P {
  padding: 0.9rem;
  top: 3px;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  font-family: "Noto Serif TC";
  color: #fff;
}

.sec02 {
  z-index: 1;
  background-color: black;
  max-width: 1920px;
  height: 985px;
  width: 100%;
}
@media all and (max-width: 1024px) {
  .sec02 {
    height: 730px;
  }
}
@media all and (max-width: 960px) {
  .sec02 {
    height: 700px;
  }
}
@media all and (max-width: 800px) {
  .sec02 {
    max-width: 900px;
    width: 100%;
    height: 1417px;
  }
}
@media all and (max-width: 660px) {
  .sec02 {
    height: 1170px;
  }
}
@media all and (max-width: 576px) {
  .sec02 {
    height: 1021px;
  }
}
@media all and (max-width: 425px) {
  .sec02 {
    height: 757px;
  }
}
@media all and (max-width: 320px) {
  .sec02 {
    height: 600px;
  }
}
.sec02 .sec02Bg {
  background-image: url("/img/20240403_joinAct/sec02BgPC2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 800px) {
  .sec02 .sec02Bg {
    background-image: url("/img/20240403_joinAct/sec02BgM2.png");
    background-position: top;
  }
}
.sec02 .sec02Bg p {
  font-family: "Noto Serif TC";
  font-size: 2.5rem;
  font-weight: 800;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 40%, #484848);
  background: -webkit-linear-gradient(to bottom, #fff 50%, #484848);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sec02 .sec02Title {
  width: 100%;
  height: 100%;
  max-width: 830px;
  max-height: 156px;
  background-image: url("/img/20240403_joinAct/sec02Title.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 3%;
  filter: drop-shadow(0px 0px 4px #000);
}
@media all and (max-width: 660px) {
  .sec02 .sec02Title {
    height: 10%;
    background-size: cover;
    background-position: center;
  }
}
@media all and (max-width: 576px) {
  .sec02 .sec02Title {
    height: 13%;
  }
}
@media all and (max-width: 425px) {
  .sec02 .sec02Title {
    height: 16%;
  }
}
@media all and (max-width: 375px) {
  .sec02 .sec02Title {
    height: 17%;
  }
}
@media all and (max-width: 320px) {
  .sec02 .sec02Title {
    height: 17%;
  }
}
.sec02 .sec02Text {
  text-align: center;
  margin-top: 15%;
}
.sec02 .sec02Text img {
  width: 100%;
  height: 100%;
}

.popSmall {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popSmall .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.popSmall .popBg {
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 493px;
  max-height: 331px;
  background-image: url("/img/20240403_joinAct/popup_s.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popSmall .popBg .text {
  font-family: "Noto Serif TC";
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 2.8rem;
}

.popBig {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popBig .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.popBig .popBg {
  z-index: 1;
  width: 80%;
  height: 80%;
  max-width: 730px;
  max-height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  padding: 3rem 7rem;
}
.popBig .popBg::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000;
}
.popBig .popBg::-webkit-scrollbar {
  width: 4px;
  background-color: black;
}
.popBig .popBg::-webkit-scrollbar-thumb {
  background-color: #565656;
}
.popBig .popBg::before {
  position: absolute;
  top: 8px;
  content: "";
  max-width: 2370px;
  max-height: 176px;
  width: 60%;
  height: 5.5%;
  background-image: url("/img/20240403_joinAct/popTop.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.popBig .popBg .title {
  font-family: "Noto Serif TC";
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 2.8rem;
}
.popBig .popBg .text {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.popBig .popBg .text ul li {
  color: #fff;
  font-size: 1.1rem;
  line-height: 2.5rem;
  list-style-type: decimal;
  list-style-position: inside;
}
.popBig .popBg .text ul li::marker {
  color: #00b4ff;
}
.popBig .popBg .imgBox {
  margin-top: 3.5rem;
  position: relative;
  max-width: 170px;
}
.popBig .popBg .rewardCbmImg {
  max-width: 240px;
}
.popBig .popBg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer.section {
  height: 120px;
  width: 100%;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
}
@media all and (max-width: 960px) {
  footer.section {
    height: 180px;
  }
}
@media all and (max-width: 800px) {
  footer.section {
    height: 215px;
  }
}
@media all and (max-width: 768px) {
  footer.section {
    flex-direction: column;
    align-items: center;
    height: 190px;
    justify-content: space-evenly;
  }
}
footer.section .footerbox_logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1rem;
}
footer.section .footerbox_logo .logo_digeam {
  margin-right: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}
footer.section .footerbox_logo .est_icon {
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
  filter: invert(1);
}
footer.section .spec {
  width: 25%;
}
@media all and (max-width: 768px) {
  footer.section .spec {
    width: 40%;
  }
}
@media all and (max-width: 660px) {
  footer.section .spec {
    width: 55%;
  }
}
@media all and (max-width: 375px) {
  footer.section .spec {
    width: 80%;
  }
}
footer.section .spec a {
  color: #00b4ff;
  text-decoration: underline;
  display: inline-block;
  font-size: 1rem;
  margin: 5px 5px;
}
footer.section .spec a:hover {
  color: #008612;
}
footer.section .spec .Copyright {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.1rem;
}
footer.section .classlavel {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.section .classlavel img {
  width: 12%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer.section .classlavel ul {
  margin-left: 10px;
}
footer.section .classlavel li {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.1rem;
}
footer.section .classlavel li:nth-child(4) {
  color: #00b4ff;
}
